* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#jogo {
    width: 60.3rem;
    height: 60rem;
    border: solid 3px;
}

.linha {
    height: 20rem;
    border-bottom: solid 1px;
}

.casa {
    width: 20rem;
    height: 100%;
    border-right: solid 1px;
    float: left;
}
